<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ch.wess.ezclipse.core.view.category"
            class="ch.wess.ezclipse.varbrowser.internal.VarBrowser"
            icon="icons/explore.gif"
            id="ch.wess.ezclipse.varbrowser.view"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ch.wess.ezclipse.varbrowser.properties.internal.VarBrowserPropertyPage"
            id="ch.wess.ezclipse.varbrowser.nodeid"
            name="%page.name.0">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.wess.ezclipse.varbrowser.view">
         <command
               commandId="ch.wess.ezclipse.varbrowser.refreshcommand"
               icon="icons/refresh.gif"
               id="ch.wess.ezclipse.varbrowser.refresh"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.0">
         </command>
         <command
               commandId="ch.wess.ezclipse.varbrowser.copypath"
               icon="icons/copy.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.0"
            id="ch.wess.ezclipse.varbrowser.refreshcommand"
            name="%command.name.0">
      </command>
      <command
            id="ch.wess.ezclipse.varbrowser.copypath"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.wess.ezclipse.varbrowser.handlers.internal.RefreshHandler"
            commandId="ch.wess.ezclipse.varbrowser.refreshcommand">
      </handler>
      <handler
            class="ch.wess.ezclipse.varbrowser.handlers.internal.CopyHandler"
            commandId="ch.wess.ezclipse.varbrowser.copypath">
      </handler>
   </extension>
</plugin>
